@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url("../fonts/CeraRoundPro-Black.woff2") format("woff2"), url("../fonts/CeraRoundPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url("../fonts/CeraRoundPro-Bold.woff2") format("woff2"), url("../fonts/CeraRoundPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.preloader {
  --duration: 1s;
  position: fixed;
  z-index: 2000;
  background: #111;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--duration);
  transition: var(--duration);
}

.preloader__content {
  position: relative;
  width: 200px;
  height: 200px;
}

.preloader__first,
.preloader__second,
.preloader__third {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: var(--duration) infinite linear;
          animation: var(--duration) infinite linear;
}

.preloader__first {
  border-bottom: 3px solid #042a8c;
  -webkit-animation-name: first;
          animation-name: first;
}

.preloader__second {
  border-right: 3px solid #ed0677;
  -webkit-animation-name: second;
          animation-name: second;
}

.preloader__third {
  border-top: 3px solid #14b1e7;
  -webkit-animation-name: third;
          animation-name: third;
}

@-webkit-keyframes first {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes first {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes second {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes second {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes third {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@keyframes third {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/*!
 * pagepiling.js 1.5.6
 *
 * https://github.com/alvarotrigo/pagePiling.js
 * @license MIT licensed
 *
 * Copyright (C) 2016 alvarotrigo.com - A project by Alvaro Trigo
 */
html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pp-section {
  height: 100%;
  position: absolute;
  width: 100%;
  /* fixes flickering in firefox*/
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.pp-easing {
  -webkit-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  /* custom */
}

#pp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
}

#pp-nav.right {
  right: 17px;
}

#pp-nav.left {
  left: 17px;
}

.pp-section.pp-table {
  display: table;
}

.pp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.pp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
}

.pp-slidesNav.bottom {
  bottom: 17px;
}

.pp-slidesNav.top {
  top: 17px;
}

#pp-nav ul,
.pp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#pp-nav li,
.pp-slidesNav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.pp-slidesNav li {
  display: inline-block;
}

#pp-nav li a,
.pp-slidesNav li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#pp-nav li .active span,
.pp-slidesNav .active span {
  background: #333;
}

#pp-nav span,
.pp-slidesNav span {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.pp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
}

.pp-tooltip.right {
  right: 20px;
}

.pp-tooltip.left {
  left: 20px;
}

.pp-scrollable {
  overflow-y: scroll;
  height: 100%;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cera Round Pro", "Roboto", sans-serif;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}

input,
select,
textarea {
  border: none;
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 0 3px #042a8c;
          box-shadow: 0 0 0 3px #042a8c;
}

.overflow-hidden {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.basic-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-wrapper img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.side-nav {
  padding: 45px 0;
  width: 140px;
  background-color: #fff;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle {
  display: block;
  position: absolute;
  border-radius: 50%;
}

.circle.primary {
  background-color: #ed0677;
}

.circle.secondary {
  background-color: #14b1e7;
}

.circle.blurred {
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

.social-links__item {
  text-align: center;
}

.social-links__item:not(:last-child) {
  margin-bottom: 13px;
}

.social-links__item a {
  display: block;
  width: 43px;
  height: 43px;
  line-height: 43px;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 900;
  color: #042a8c;
  border: 1px solid #042a8c;
}

.black-line .line-col {
  background-color: rgba(0, 0, 0, 0.05);
}

.line-col {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  height: 100%;
  position: fixed;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  left: 25%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.05);
  z-index: 10;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.line-col:nth-child(2) {
  left: 40%;
}

.line-col:nth-child(3) {
  left: 55%;
}

.line-col:nth-child(4) {
  left: 70%;
}

.line-col:nth-child(5) {
  left: 85%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main.even-section .side-nav {
  background-color: #14b1e7;
}

.main.even-section .slide-controllers h5 {
  color: #4b4b4b;
}

.main.even-section .line-col {
  background-color: rgba(0, 0, 0, 0.05);
}

.main.even-section .social-links__item a {
  color: #fff;
  border-color: #fff;
}

.main.even-section .scroll-message span {
  color: #4b4b4b;
}

.main.even-section .js-open-menu-btn span {
  color: #4b4b4b;
}

#fullpage {
  position: relative;
  max-width: 1780px;
  width: calc(100% - 140px);
  margin-left: auto;
}

.section-img {
  height: 100%;
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 0;
  right: 0;
  z-index: 3;
}

.section-img img {
  height: 100%;
}

.section {
  max-width: 1780px;
  padding: 45px 40px;
  background-color: #042a8c;
  overflow: hidden;
}

.section:nth-child(even) {
  background-color: #fcfcfc;
}

.section:nth-child(even) .scroll-message span {
  color: #000;
}

.section:nth-child(even) .menu-toggler-btn span {
  color: #4b4b4b;
}

.section:nth-child(even) .big-text {
  color: #f3f9fb;
}

.section .pp-tableCell {
  display: block;
  width: unset;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.section-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}

.language-box {
  width: 88px;
  height: 45px;
  background: #fff;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 50px;
}

.language-box a {
  width: 38px;
  height: 38px;
  background: #042a8c;
  line-height: 39px;
  display: block;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}

.language-box a:not(:last-child) {
  margin-right: 4px;
}

.language-box a.active {
  background-color: #14b1e7;
}

.scroll-message {
  position: absolute;
  left: 100px;
  bottom: 65px;
}

.scroll-message span {
  display: inline-block;
  color: #fff;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 900;
  margin-bottom: 15px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.big-text {
  position: absolute;
  top: 50%;
  left: 120px;
  font-size: 350px;
  font-weight: bold;
  color: #193fa0;
  z-index: 0;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin-left: 150px;
  color: #4b4b4b;
  max-width: 500px;
}

.section-content h3 {
  margin-bottom: 30px;
  font-size: 46px;
  text-transform: uppercase;
}

.section-content p {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 1.5;
  font-weight: normal;
}

.section-content a {
  color: #ed0677;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
}

@media (max-width: 1800px) {
  .section {
    padding: 35px;
  }
  .section-content {
    margin-left: 25px !important;
  }
  .section-img {
    right: 0 !important;
  }
}

@media (max-width: 1366px) {
  .scroll-message {
    bottom: 25px;
    left: 25px;
  }
  .big-text {
    position: absolute;
    top: 50%;
    left: 50px;
    font-size: 180px;
    z-index: 0;
  }
  .section-content {
    display: block;
    margin-top: 50px;
  }
  .section-content h3 {
    font-size: 40px;
  }
  .section-content p {
    font-size: 15px;
  }
  .section-content a {
    font-size: 13px;
  }
  .side-nav {
    padding: 30px 0;
    width: 100px;
  }
  .side-nav .logo {
    max-width: 80%;
  }
  #fullpage {
    width: calc(100% - 100px);
  }
  .social-links__item a {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}

.section-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 4;
}

.section-menu li:not(:last-child) {
  margin-right: 35px;
}

.section-menu a {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
}

.home::before {
  background-image: url("../img/main-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left 10%;
}

.home-content {
  margin-left: 50px;
  margin-top: 25vh;
}

.home-content h1 {
  max-width: 500px;
  color: #fff;
  font-size: 48px;
  font-weight: 900;
}

.home-content .img-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  z-index: 4;
}

@media (max-width: 1366px) {
  .home-content {
    margin-top: 20vh;
  }
  .home-content h1 {
    max-width: 300px;
    font-size: 40px;
  }
  .home-content .img-wrapper {
    max-width: 600px;
  }
}

.fullpage-menu {
  position: absolute;
  max-width: 1780px;
  width: calc(100% - 140px);
  height: 100vh;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  padding: 45px 40px;
  background-color: #042a8c;
  overflow: hidden;
  z-index: 10;
  opacity: 1;
  pointer-events: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-image: url("../img/menu-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}

.fullpage-menu.active {
  pointer-events: unset;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.fullpage-menu .bottom-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fullpage-menu .circle.primary {
  width: 240px;
  height: 240px;
  top: -150px;
  left: 55%;
}

.fullpage-menu .circle.secondary {
  width: 500px;
  height: 500px;
  bottom: -250px;
  right: -20px;
}

.fullpage-menu .big-text {
  top: 45%;
}

.main-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.main-menu .main-menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-menu .main-menu__inner:not(:last-child) {
  margin-bottom: 100px;
}

.main-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-menu li a {
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main-menu li a:hover, .main-menu li a:focus {
  color: #ed0677;
}

.main-menu li::after {
  display: block;
  content: "";
  margin: 0 40px;
  width: 140px;
  height: 3px;
  background-color: #14b1e7;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-menu li:nth-child(4)::after {
  display: none;
}

.main-menu li:last-child {
  margin-right: 0;
}

.main-menu li:last-child::after {
  display: none;
}

.main-menu li.active a {
  color: #ed0677;
}

.menu-toggler-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-toggler-btn .img-wrapper {
  margin-right: 15px;
}

.menu-toggler-btn span {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
}

@media (max-width: 1650px) {
  .main-menu .main-menu__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

@media (max-width: 1366px) {
  .fullpage-menu {
    width: 100%;
  }
  .main-menu .main-menu__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-menu li a {
    font-size: 28px;
  }
  .main-menu li::after {
    width: 80px;
    height: 2px;
  }
}

.heroes {
  background-color: #042a8c;
  color: #fff;
}

.heroes .section-content {
  max-width: 780px;
}

.heroes-slider {
  height: 100vh;
  width: 1780px;
  position: absolute;
  top: 0;
  left: 0;
}

.heroes-slider .slick-list,
.heroes-slider .slick-track {
  height: 100%;
}

.heroes__item {
  position: absolute !important;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1780px;
}

.heroes__item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("../img/hero-bg1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left 30%;
  z-index: 2;
}

.heroes__item:nth-child(even) {
  background-color: #fcfcfc;
}

.heroes__item:nth-child(even) .section-content h3,
.heroes__item:nth-child(even) .section-content p {
  color: #4b4b4b;
}

.heroes__item:nth-child(even) .big-text {
  color: #f3f9fb;
}

.heroes__item:nth-child(2)::before {
  background-image: url("../img/hero-bg2.png");
  background-position: center center;
}

.heroes__item:nth-child(2) .section-img {
  right: 225px;
}

.heroes__item:nth-child(3)::before {
  background-image: url("../img/hero-bg3.png");
  background-position: center left 40%;
}

.heroes__item:nth-child(3) .section-img {
  right: 50px;
}

.heroes__item:nth-child(4)::before {
  background-image: url("../img/hero-bg4.png");
}

.heroes__item:nth-child(5)::before {
  background-image: url("../img/hero-bg5.png");
}

.heroes__item:nth-child(5) .section-img {
  right: 225px;
}

.heroes__item .section-content {
  margin-left: 110px;
  display: block;
  margin-top: 25vh;
}

.heroes__item .section-content h3 {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}

.heroes__item .section-content h2 {
  font-size: 144px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ed0677;
  margin-bottom: 35px;
  line-height: 1;
}

.heroes__item .section-content p {
  color: #fff;
}

.heroes__item .section-content .bottom-content {
  width: 40%;
  margin: 0 auto;
}

.heroes__item .big-text {
  font-size: 280px;
  white-space: nowrap;
}

.slide-controllers {
  position: absolute;
  left: 120px;
  top: 51vh;
  z-index: 10;
  max-width: 230px;
}

.slide-controllers h5 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
}

.slide-controllers button {
  width: 80px;
  height: 80px;
  background-color: #14b1e7;
  border-radius: 50%;
}

.slide-controllers button:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 1366px) {
  #heroes .slide-controllers {
    left: 50px;
    bottom: unset;
    z-index: 10;
  }
  .heroes-slider {
    width: calc(100vw - 100px);
  }
  .heroes__item {
    max-width: calc(100vw - 100px);
  }
  .heroes__item:nth-child(1) .section-img {
    right: -150px !important;
  }
  .heroes__item .section-content {
    margin-left: 50px !important;
    margin-top: 25vh;
  }
  .heroes__item .section-content .bottom-content {
    width: 55%;
  }
  .heroes__item .section-content h3 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .heroes__item .section-content h2 {
    font-size: 120px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ed0677;
    margin-bottom: 35px;
    line-height: 1;
  }
  .heroes__item .section-content p {
    color: #fff;
  }
  .heroes__item .section-content .bottom-content {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 1280px) {
  .heroes__item .section-content h3 {
    font-size: 30px;
  }
  .heroes__item .section-content h2 {
    font-size: 90px;
    margin-bottom: 20px;
  }
}

#about .big-text {
  font-size: 220px;
  color: #f3f9fb;
  top: 60%;
}

#about::before {
  background-image: url("../img/about-bg.png");
  background-position: center center;
}

#about .section-img {
  right: 180px;
}

@media (max-width: 1366px) {
  #about .section-content {
    max-width: 45%;
  }
}

#team::before {
  background-image: url("../img/team-bg.png");
  background-position: center center;
}

#team .section-img {
  right: 225px;
}

#team .section-content {
  max-width: 350px;
  margin-top: 100px;
}

#team .play-btn {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 54%;
  left: 180px;
  background-color: #fff;
  border-radius: 50%;
}

#partners::before {
  background-image: url("../img/partners-bg.png");
  background-position: center center;
}

#partners .section-img {
  right: 125px;
}

#partners .section-content {
  max-width: 1150px;
}

#partners .section-content .img-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -30px;
}

#partners .section-content h3,
#partners .section-content p {
  color: #fff;
  max-width: 650px;
}

#partners .section-content h3 {
  max-width: 300px;
}

@media (max-width: 1366px) {
  .section-content {
    max-width: 70%;
  }
  .section-content .img-wrapper {
    max-width: 70%;
  }
}

#achievements::before {
  background-image: url("../img/achievement-bg.png");
  background-position: center center;
}

#achievements .big-text {
  top: unset;
  bottom: 0;
}

#achievements .section-content {
  margin-top: 150px;
  margin-bottom: 50px;
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 85%;
  height: unset;
}

#achievements .content-text {
  max-width: 380px;
}

#achievements .content-tops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#achievements .content-tops .img-wrapper {
  width: 260px;
  height: 175px;
}

#achievements .content-tops .top__item:not(:last-child) {
  margin-right: 25px;
}

#achievements .content-tops .top__item h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#achievements .content-tops .top__item h4 span {
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}

#achievements .content-tops .top__item h4 span:first-child {
  font-size: 72px;
  color: #ed0677;
  margin-bottom: 5px;
}

#achievements .content-tops .top__item h4 span:last-child {
  color: #042a8c;
  font-size: 24px;
}

#achievements .achieve-section-slider {
  position: relative;
  z-index: 3;
  margin-left: 100px;
}

#achievements .achieve-section-slider h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

#achievements .slide-controllers {
  position: unset;
}

#achievements .slide-controllers .controllers-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#achievements .slide-controllers .controllers-wrapper button {
  margin-right: 0;
}

#achievements .slide-controllers .controllers-wrapper button:first-child {
  margin-bottom: 15px;
}

#achievements .inner-slider-wrapper {
  max-width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#achievements .achieve-slider {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#achievements .achieve-slider .slick-slide {
  outline: none;
}

#achievements .achieve-slider .img-wrapper {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
}

@media (max-width: 1366px) {
  #achievements .section-content {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 95%;
  }
  #achievements .content-tops .img-wrapper {
    width: 180px;
    height: 120px;
    margin: 0 auto;
  }
  #achievements .achieve-section-slider {
    margin-left: 25px;
  }
  #achievements .inner-slider-wrapper {
    max-width: calc(100vw - 135px);
    overflow: hidden;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  #achievements .achieve-slider {
    width: 80%;
    margin-right: 70px;
  }
  #achievements .achieve-slider .img-wrapper {
    width: 120px;
    height: 120px;
  }
}

#gallery::before {
  background-image: url("../img/gallery-bg.png");
  background-position: center center;
}

#gallery .section-content {
  margin-top: -25px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 110px);
  max-width: 100%;
}

#gallery .content-text {
  max-width: 380px;
}

#gallery .content-text .slide-controllers {
  position: unset;
}

#gallery .content-text h3,
#gallery .content-text p {
  color: #fff;
}

#gallery .gallery-slider {
  width: 1100px;
  height: auto;
}

#gallery .gallery-slider .img-wrapper {
  width: 400px;
  height: 560px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#gallery .gallery-slider .img-wrapper img {
  width: 100%;
  height: 100%;
}

#gallery .gallery-slider .slick-slide {
  margin: 0 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

#gallery .gallery-slider .slick-list {
  padding: 50px 0 50px 155px !important;
}

#gallery .gallery-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 650px;
}

#gallery .gallery-slider .slick-center .img-wrapper {
  height: 650px;
}

@media (max-width: 1800px) {
  #gallery .section-content {
    width: 100%;
  }
  #gallery .section-content .content-text {
    margin-right: 70px;
  }
}

@media (max-width: 1366px) {
  #gallery .section-content {
    margin-top: -65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #gallery .scroll-message {
    bottom: 60px;
  }
  #gallery .gallery-slider {
    margin-right: -10px;
    width: 700px;
  }
  #gallery .gallery-slider .img-wrapper {
    max-width: unset;
    width: 255px;
    height: 355px;
  }
  #gallery .gallery-slider .slick-list {
    padding: 0 0 0 155px !important;
  }
  #gallery .gallery-slider .slick-center .img-wrapper {
    height: 400px;
  }
}

#contacts::before {
  background-image: url("../img/about-bg.png");
  background-position: center center;
}

#contacts .section-content {
  margin-top: 150px;
  max-width: 950px;
  display: block;
}

#contacts .contact-text {
  max-width: 350px;
  margin-right: 100px;
}

#contacts .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

#contacts .contact-item:first-child {
  margin-bottom: 30px;
}

#contacts .contact-item span {
  font-size: 18px;
  font-weight: bold;
  display: block;
  color: #ed0677;
}

#contacts .contact-item.email span {
  color: #4b4b4b;
}

#contacts .contact-item a {
  font-size: 48px;
  text-transform: none;
}

#contacts .contact-form h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 50px;
}

#contacts .feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contacts .feedback-form label {
  display: block;
  width: 48%;
  margin-bottom: 25px;
}

#contacts .feedback-form label input {
  padding: 35px 30px;
  border-radius: 100px;
  background-color: #14b1e7;
  font-size: 13px;
  width: 100%;
  color: #fff;
  display: block;
}

#contacts .feedback-form label input::-webkit-input-placeholder {
  color: #fff;
  text-transform: uppercase;
}

#contacts .feedback-form label input:-ms-input-placeholder {
  color: #fff;
  text-transform: uppercase;
}

#contacts .feedback-form label input::-ms-input-placeholder {
  color: #fff;
  text-transform: uppercase;
}

#contacts .feedback-form label input::placeholder {
  color: #fff;
  text-transform: uppercase;
}

#contacts .feedback-form .send-btn {
  padding: 30px 70px;
  border-radius: 100px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #ed0677;
  margin-left: auto;
}

@media (max-width: 1366px) {
  #contacts .section-content {
    margin-top: 50px;
  }
  #contacts .contact-item:first-child {
    margin-bottom: 30px;
  }
  #contacts .contact-item span {
    font-size: 16px;
  }
  #contacts .contact-item a {
    font-size: 36px;
  }
  #contacts .contact-details {
    margin-bottom: 20px;
  }
  #contacts .contact-form h3 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  #contacts .feedback-form {
    width: 80%;
  }
  #contacts .feedback-form label {
    width: 48%;
    margin-bottom: 15px;
  }
  #contacts .feedback-form label input {
    padding: 20px 30px;
    border-radius: 100px;
  }
  #contacts .feedback-form .send-btn {
    padding: 15px 40px;
    border-radius: 100px;
  }
}

#news::before {
  background-image: url("../img/gallery-bg.png");
  background-position: center center;
}

#news .slide-controllers {
  position: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: unset;
}

#news .slide-controllers .all-news {
  color: #fff;
  white-space: nowrap;
  font-size: 14px;
  display: block;
  margin-right: 20px;
}

#news .section-content {
  margin-top: 100px;
  max-width: unset;
  display: block;
}

#news .section-content .content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1550px;
  margin-bottom: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#news .section-content .content-top h3 {
  color: #fff;
}

#news .news-wrapper {
  width: 1640px;
}

#news .news-wrapper .slick-list {
  padding-left: 370px !important;
}

#news .news-wrapper .slick-slide {
  margin: 0 10px;
  outline: none;
}

#news .news-item {
  padding: 50px 70px;
  background-color: #fff;
  width: 650px;
  display: block;
  position: relative;
  border-radius: 10px;
  z-index: 5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#news .news-item.has-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/news-bg.png");
}

#news .news-item.has-bg .date,
#news .news-item.has-bg h3,
#news .news-item.has-bg p,
#news .news-item.has-bg a {
  color: #fff;
}

#news .news-item .date {
  font-size: 14px;
  color: #a1a1a1;
  display: block;
  margin-bottom: 30px;
}

#news .news-item h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

#news .news-item p {
  font-family: "Roboto", "Arial", sans-serif;
  color: #4b4b4b;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

#news .news-item a {
  color: #ed0677;
  font-size: 14px;
  text-transform: uppercase;
}

@media (max-width: 1366px) {
  #news .section-content {
    margin-top: 50px;
  }
  #news .section-content .content-top {
    margin-bottom: 60px;
    max-width: calc(100vw - 180px);
  }
  #news .news-wrapper {
    width: 1640px;
    max-width: calc(100vw - 150px);
  }
  #news .news-wrapper .slick-list {
    padding-left: 350px !important;
  }
  #news .news-item {
    padding: 30px 50px;
    width: 500px;
  }
  #news .news-item .date {
    font-size: 14px;
    margin-bottom: 25px;
  }
  #news .news-item h3 {
    font-size: 23px;
    margin-bottom: 25px;
  }
  #news .news-item p {
    font-size: 15px;
    margin-bottom: 25px;
  }
  #news .news-item a {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */