#gallery {
  &::before {
    background: {
      image: url("../img/gallery-bg.png");
      position: center center;
    }
  }
  .section-content {
    margin-top: -25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 110px);
    max-width: 100%;
  }
  .content-text {
    max-width: 380px;
    .slide-controllers {
      position: unset;
    }
    h3,
    p {
      color: #fff;
    }
  }
  .gallery-slider {
    width: 1100px;
    height: auto;
    .img-wrapper {
      width: 400px;
      height: 560px;
      border-radius: 15px;
      overflow: hidden;
      transition: 0.3s ease;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .slick-slide {
      margin: 0 13px;
      display: flex;
      align-items: center;
      outline: none;
    }
    .slick-list {
      padding: 50px 0 50px 155px !important;
    }
    .slick-track {
      display: flex;
      align-items: center;
      height: 650px;
    }
    .slick-center {
      .img-wrapper {
        height: 650px;
      }
    }
  }
}

@media (max-width: 1800px) {
  #gallery {
    .section-content {
      width: 100%;
      .content-text {
        margin-right: 70px;
      }
    }
  }
}

@media (max-width: 1366px) {
  #gallery {
    .section-content {
      margin-top: -65px;
      display: flex;
    }
    .scroll-message {
      bottom: 60px;
    }
    .gallery-slider {
      margin-right: -10px;
      width: 700px;
      .img-wrapper {
        max-width: unset;

        width: 255px;
        height: 355px;
      }
      .slick-list {
        padding: 0 0 0 155px !important;
      }
      .slick-center {
        .img-wrapper {
          height: 400px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #gallery {
    max-width: 100vw;
    .pp-tableCell {
      max-width: calc(100vw - 40px);
    }
    .section-content {
      margin-top: 50px;
      flex-direction: column;
      margin-left: 0 !important;
      justify-content: unset;
      .content-text {
        margin-right: 0;
        margin-left: 50px;
        margin-bottom: 30px;
        p {
          height: 65px;
          overflow: hidden;
        }
      }
    }

    .gallery-slider {
      margin-right: 0;
      .img-wrapper {
        max-width: unset;
        width: 170px;
        height: 240px;
      }
      .slick-center {
        .img-wrapper {
          height: 280px;
        }
      }
      .slick-track {
        height: unset;
      }
      .slick-list {
        padding: 0 !important;
      }
    }
  }
}
