.section-menu {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 4;
  li {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
  a {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
  }
}

.menu-mob.menu-toggler-btn {
  display: none;
}

.home {
  .bg-layer {
    background: {
      image: url("../img/main-bg.png");
      repeat: no-repeat;
      size: contain;
      position: top left 10%;
    }
  }
}

.home-content {
  margin-left: 50px;
  margin-top: 25vh;
  h1 {
    max-width: 500px;
    color: #fff;
    font-size: 48px;
    font-weight: 900;
  }
  .img-wrapper {
    justify-content: flex-start;
    position: relative;
    z-index: 4;
  }
}

@media (max-width: $breakpoint-d) {
  .home-content {
    margin-top: 20vh;
    h1 {
      max-width: 300px;
      font-size: 40px;
    }
    .img-wrapper {
      max-width: 600px;
    }
  }
}

@media (max-width: $breakpoint-m) {
  .section {
    padding: 20px;
  }
  .section-menu {
    display: none;
  }
  #main {
    .section-img {
      align-items: flex-end;
    }
  }
  .home-content {
    margin-left: 0;
    margin-top: 50vh;
    position: relative;
    z-index: 15;
    h1 {
      font-size: 26px;
      text-transform: uppercase;
    }
  }
  .scroll-message {
    top: 110px;
    left: 20px;
  }
  .menu-mob.menu-toggler-btn {
    display: flex;
    span {
      display: none;
    }
  }
  .menu-toggler-btn {
    margin: 0;
    margin-left: auto;
    span {
      display: none;
    }
  }
  .language-box {
    margin-right: 0;
    margin-left: 15px;
    width: 64px;
    height: 32px;
    background-color: transparent;
    transition: 0.3s ease;
    a {
      width: 26px;
      height: 26px;
      font-size: 11px;
      line-height: 26px;
      transition: 0.3s ease;
      &:nth-child(2) {
        opacity: 0;
        pointer-events: none;
      }
    }
    &.active {
      background-color: #fff;
      a {
        opacity: 1;
        pointer-events: unset;
      }
    }
  }
}
