#partners {
  .bg-layer {
    background: {
      image: url("../img/partners-bg.png");
      position: center center;
      size: contain;
    }
  }
  .section-img {
    right: 125px;
  }
  .section-content {
    max-width: 1150px;

    .partners-wrapper {
      width: 600px;
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 1fr 1fr;
      .img-wrapper {
        width: 100px;
        height: 60px;

        // &:nth-child(1),
        // &:nth-child(2) {
        //   transform: scale(2);
        // }
      }
      &.general-partners {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
        .img-wrapper {
          width: 200px;
          height: auto;
          &:nth-child(1) {
            width: 300px;

            margin-right: 50px;
          }
          img {
            width: 100%;
          }
        }
      }
    }

    h3 {
      color: $text-color;
      max-width: 300px;
    }

    p {
      display: none;
    }
  }
}

@media (max-width: $breakpoint-d) {
  #partners {
    .section-content {
      max-width: 70%;
      .partners-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      .img-wrapper {
        max-width: 70%;
      }
    }
  }
}

@media (max-width: $breakpoint-m) {
  #partners {
    .scroll-message {
      display: none;
    }
    .section-content {
      margin-top: 50px;
      margin-left: 0 !important;
      p {
        display: none;
      }
      h3 {
        margin-bottom: 15px;
      }
      .img-wrapper {
        max-width: 100%;
        margin: 0;
      }
      .partners-wrapper {
        width: fit-content;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;

        .img-wrapper {
          width: 50px;
        }
        &.general-partners {
          margin-bottom: 70px;
          .img-wrapper {
            width: 150px;
            &:nth-child(1) {
              width: 200px;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
    .section-img {
      display: flex;
      align-items: flex-end;
    }
  }
}
