.heroes {
  background-color: $color1;
  color: #fff;
  .section-content {
    max-width: 780px;
  }
}

.heroes-slider {
  height: 100vh;
  width: 1780px;
  position: absolute;
  top: 0;
  left: 0;
  .slick-list,
  .slick-track {
    height: 100%;
  }
}

.heroes__item {
  position: absolute !important;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1780px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("../img/hero-bg1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left 30%;
    z-index: 2;
  }

  &:nth-child(even) {
    background-color: #fcfcfc;
    .section-content {
      h3,
      p {
        color: $text-color;
      }
    }

    .big-text {
      color: #f3f9fb;
    }
  }

  &:nth-child(2) {
    &::before {
      background-image: url("../img/hero-bg2.png");
      background-position: center center;
    }
    .section-img {
      right: 225px;
    }
  }

  &:nth-child(3) {
    &::before {
      background-image: url("../img/hero-bg3.png");
      background-position: center left 40%;
    }
    .section-img {
      right: 50px;
    }
  }
  &:nth-child(4) {
    &::before {
      background-image: url("../img/hero-bg4.png");
    }
  }
  &:nth-child(5) {
    &::before {
      background-image: url("../img/hero-bg5.png");
    }
    .section-img {
      right: 225px;
    }
  }

  .section-content {
    margin-left: 110px;
    display: block;
    margin-top: 25vh;
    h3 {
      color: #fff;
      font-size: 48px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    h2 {
      font-size: 144px;
      font-weight: bold;
      text-transform: uppercase;
      color: $color2;
      margin-bottom: 35px;
      line-height: 1;
    }
    p {
      color: #fff;
    }
    .bottom-content {
      width: 40%;
      margin: 0 auto;
    }
  }
  .big-text {
    font-size: 280px;
    white-space: nowrap;
  }
}

.slide-controllers {
  position: absolute;
  left: 120px;
  top: 51vh;
  z-index: 10;
  max-width: 230px;
  h5 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
  }
  button {
    width: 80px;
    height: 80px;
    background-color: $color3;
    border-radius: 50%;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.slider-scroll {
  display: none;
}

@media (max-width: 1366px) {
  #heroes {
    .slide-controllers {
      left: 50px;
      bottom: unset;
      z-index: 10;
    }
  }
  .heroes-slider {
    width: calc(100vw - 100px);
  }

  .heroes__item {
    max-width: calc(100vw - 100px);
    &:nth-child(1) {
      .section-img {
        right: -150px !important;
      }
    }
    .section-content {
      // max-width: 65%;
      margin-left: 50px !important;
      margin-top: 25vh;
      .bottom-content {
        width: 55%;
      }
      h3 {
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      h2 {
        font-size: 120px;
        font-weight: bold;
        text-transform: uppercase;
        color: $color2;
        margin-bottom: 35px;
        line-height: 1;
      }
      p {
        color: #fff;
      }
      .bottom-content {
        width: 50%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 1280px) {
  .heroes__item {
    .section-content {
      h3 {
        font-size: 30px;
      }
      h2 {
        font-size: 90px;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 450px) {
  .slide-controllers {
    display: none;
  }
  #heroes-slider {
    width: 100%;
    .section-content {
      margin-top: 45vh;
      margin-left: 20px !important;
      h3 {
        font-size: 14px;
      }
      h2 {
        font-size: 48px;
      }
      p {
        height: 150px;
        overflow: hidden;
      }
      .bottom-content {
        max-width: 270px;
        width: 100%;
        margin: 0;
      }
    }
  }
  .heroes__item {
    max-width: 100vw;
    &::before {
      background-image: none;
      display: none;
    }
    .section-img {
      height: 90vh;
      bottom: 0;
      top: unset;
      right: -135px !important;
    }
    &:nth-child(1) {
      .section-img {
        display: block;
        height: auto;
        right: 15% !important;
        top: 70px;
      }
    }
    &:nth-child(3) {
      .section-img {
        right: -190px !important;
      }
    }
    &:nth-child(4) {
      .section-img {
        right: 0px !important;
      }
    }
    &:nth-child(5) {
      .section-img {
        right: -85px !important;
      }
    }
  }
  .slider-scroll {
    display: block;
    position: absolute;
    left: 50%;
    width: 60%;
    z-index: 10;
    border-radius: 50px;
    height: 7px;
    background-color: $color3;
    transform: translateX(-50%);
    bottom: 25px;
    .slick-dots {
      display: flex;
      transform: translateY(-30%);
      justify-content: space-between;
      align-items: center;
      li {
        button {
          display: block;
          width: 37px;
          height: 21px;
          background-color: $color2;
          background-image: url("../img/icons/scroll-lines.svg");
          background-repeat: no-repeat;
          background-size: 15%;
          background-position: center center;
          border-radius: 50px;
          font-size: 0;
          opacity: 0;
          transition: 0.3s ease;
        }
        &.slick-active {
          button {
            opacity: 1;
          }
        }
      }
    }
  }
}
