.heroes {
  background-color: $color1;
  color: #fff;
  .section-content {
    max-width: 780px;
  }
}

#heroes {
  &[data-slide="0"],
  &[data-slide="10"] {
    .scroll-message {
      span {
        color: #fff;
      }
    }
  }
}

.heroes-slider {
  height: 100vh;
  width: 1780px;
  position: absolute;
  top: 0;
  left: 0;
  .slick-list,
  .slick-track {
    height: 100%;
  }
}

.heroes__item {
  position: absolute !important;
  height: 100%;
  max-height: var(--vh);
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1780px;

  .bg-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("../img/hero-bg1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left 30%;
    z-index: 2;
  }

  &:nth-child(even) {
    background-color: #fcfcfc;
    .section-content {
      h3,
      div,
      p {
        color: $text-color;
      }
    }

    .big-text {
      color: #f3f9fb;
    }
  }

  &:nth-child(3) {
    .bg-layer {
      background-image: url("../img/hero-bg2.png");
      background-position: center center;
    }
  }

  &:nth-child(4) {
    .bg-layer {
      background-image: url("../img/hero-bg3.png");
      background-position: center left 40%;
    }
  }
  &:nth-child(2) {
    .bg-layer {
      background-image: url("../img/hero-bg4.png");
    }
  }

  &:nth-child(6) {
    .bg-layer {
      background-image: url("../img/hero-bg5.png");
    }
  }

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(7),
  &:nth-child(9) {
    .section-content {
      h2 {
        font-size: 100px;
      }
    }
  }
  .section-content {
    position: relative;
    z-index: 10;
    margin-left: 110px;
    display: block;
    margin-top: 150px;
    h3 {
      color: #fff;
      font-size: 48px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    h2 {
      font-size: 144px;
      font-weight: bold;
      text-transform: uppercase;
      color: $color2;
      margin-bottom: 35px;
      line-height: 1;
    }
    p {
      color: #fff;
    }
    div {
      color: #fff;
    }
    .bottom-content {
      display: flex;
      margin: 0 auto;
      & > div {
        margin-left: 10px;
        width: 35%;
        margin-right: 20px;
        font-size: 20px;
        font-weight: normal !important;

        strong {
          font-size: 20px;
        }
      }
      .bottom-content-wrapper {
        width: 50%;
      }
      a {
        margin-left: auto;
      }
    }
  }
  .big-text {
    font-size: 280px;
    white-space: nowrap;
  }
}

.slide-controllers {
  z-index: 10;
  margin-top: 20px;
  max-width: 230px;
  button {
    width: 80px;
    height: 80px;
    background-color: $color3;
    border-radius: 50%;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.slider-scroll {
  display: none;
}

.mob-hero-def {
  display: none;
}

@media (max-width: $breakpoint-d) {
  #heroes {
    .slide-controllers {
      left: 50px;
      bottom: unset;
      z-index: 10;
    }
  }
  .heroes-slider {
    width: calc(100vw - 100px);
  }

  .heroes__item {
    max-width: calc(100vw - 100px);
    // &:nth-child(6) {
    //   .section-img {
    //     right: -250px !important;
    //   }
    // }
    &:nth-child(8) {
      .section-img {
        right: -200px !important;
      }
    }

    .section-content {
      // max-width: 65%;
      margin-left: 50px !important;
      margin-top: 17vh;
      h3 {
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      h2 {
        font-size: 100px;
        font-weight: bold;
        text-transform: uppercase;
        color: $color2;
        margin-bottom: 35px;
        line-height: 1;
      }
      p {
        color: #fff;
      }
      .bottom-content {
        // width: 50%;
        margin: 0 auto;
        .bottom-content-wrapper {
          width: 60%;
        }
      }
    }
    &:nth-child(2),
    &:nth-child(1),
    &:nth-child(7),
    &:nth-child(9) {
      .section-content {
        h2 {
          font-size: 80px;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .heroes__item {
    .section-content {
      h3 {
        font-size: 30px;
      }
      h2 {
        font-size: 90px;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: $breakpoint-m) {
  .slide-controllers {
    display: none;
  }
  #heroes {
    .scroll-message {
      display: none;
    }
  }
  #heroes-slider {
    width: 100%;
    .section-content {
      margin-top: 35vh;
      margin-left: 20px !important;
      h3 {
        font-size: 14px;
      }
      h2 {
        font-size: 35px;
        margin-bottom: 10px;
      }
      p {
        display: none;
        font-size: 13px;
        &.mob-hero-def {
          display: block;
        }
      }
      .bottom-content {
        max-width: 90vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        & > div {
          margin-left: 0;
          width: 100%;
          margin-bottom: 10px;
          font-size: 16px;
          strong {
            font-size: 16px;
          }
        }
        h5 {
          display: none;
        }
      }
    }
  }
  .heroes__item {
    max-width: 100vw;
    &::before {
      background-image: none;
      display: none;
    }
    .section-img {
      bottom: 0;
      top: unset;
    }
    &:nth-child(4) {
      .section-img {
        width: 60%;
      }
    }
    &:nth-child(5) {
      .section-img {
        width: 65%;
      }
    }
    &:nth-child(2) {
      .section-img {
        width: 70%;
      }
    }
    &:nth-child(6) {
      .section-img {
        width: 70%;
      }
    }
    &:nth-child(7) {
      .section-img {
        width: 80%;
      }
    }
    &:nth-child(10) {
      .section-img {
        width: 90%;
      }
    }
    &.new-heroes {
      .section-content {
        margin-top: 100px !important;
      }
      .section-img {
        top: unset;
        height: auto;
        align-items: flex-end;
        right: 0 !important;
        img {
          height: auto;
          max-width: 100%;
        }
      }
    }
  }
  .slider-scroll {
    display: block;
    position: absolute;
    left: 50%;
    width: 80%;
    z-index: 10;
    border-radius: 50px;
    height: 5px;
    background-color: $color3;
    transform: translateX(-50%);
    bottom: 25px;
    .slick-dots {
      display: flex;
      transform: translateY(-30%);
      justify-content: space-between;
      align-items: center;
      li {
        button {
          display: block;
          width: 25px;
          height: 15px;
          background-color: $color2;
          background-image: url("../img/icons/scroll-lines.svg");
          background-repeat: no-repeat;
          background-size: 15%;
          background-position: center center;
          border-radius: 50px;
          font-size: 0;
          opacity: 0;
          transition: 0.3s ease;
        }
        &.slick-active {
          button {
            opacity: 1;
          }
        }
      }
    }
  }
}
