.container {
  width: 1366px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1366px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 97%;
  }
}
