.section-menu {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 4;
  li {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
  a {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
  }
}

.home {
  &::before {
    background: {
      image: url("../img/main-bg.png");
      repeat: no-repeat;
      size: contain;
      position: top left 10%;
    }
  }
}

.home-content {
  margin-left: 50px;
  margin-top: 25vh;
  h1 {
    max-width: 500px;
    color: #fff;
    font-size: 48px;
    font-weight: 900;
  }
  .img-wrapper {
    justify-content: flex-start;
    position: relative;
    z-index: 4;
  }
}

@media (max-width: 1366px) {
  .home-content {
    margin-top: 20vh;
    h1 {
      max-width: 300px;
      font-size: 40px;
    }
    .img-wrapper {
      max-width: 600px;
    }
  }
}
