@mixin circle($top: unset, $left: unset, $color: $color1, $isBlurred: false) {
  display: block;
  position: absolute;
  top: $top;
  left: $left;
  background-color: $color;
  border-radius: 50%;

  @if $isBlurred {
    filter: blur(14px);
  }
}
