#team {
  &::before {
    background: {
      image: url("../img/team-bg.png");
      position: center center;
    }
  }

  .section-img {
    right: 225px;
  }
  .section-content {
    max-width: 350px;
  }
  .play-btn {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 54%;
    left: 180px;
    background-color: #fff;
    border-radius: 50%;
  }
}

@media (max-width: 1920px) {
}
